/*
This file contains styles that are not concerned with positioning, like typography rules, background-images, etc.
They are just visual enhancements but have no impact on the positioning inside the grid and thus are used in both
versions, the css-version and the gss-version
*/

html {
    font-family: Georgia, serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

body {
    margin: 0;
}

h1,
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;

    color: white;
    font-size: 3rem;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;

    font-size: 2rem;
}

img {
    display: block;
}

.hide {
    visibility: hidden;
}

.col {
    background: rgba(0, 0, 0, 0.1);
}

.wide-image {
    margin-bottom: 16px;
}

.wide-image > img {
    width: 100%;
}

.floating-image-left {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}

#header {
    background-image: url("../../assets/woman.jpg");
    background-position: center;
    background-size: cover;
}
