html {
    font-family: Georgia, serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
}

h1,
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.grid {
    display: grid;
    padding: 16px;
    grid-template-columns:
        [content-start] 1fr
        1fr
        1fr
        [text-start] 1fr
        1fr
        1fr
        1fr
        1fr
        1fr [text-end]
        1fr
        1fr
        1fr [content-end];
    grid-column-gap: 16px;
    justify-items: stretch;
}

.visual-col {
    background: rgba(0, 0, 0, 0.1);
}

.hide {
    visibility: hidden;
}

.floating-image-left {
    max-width: 100%;
}

.wide-image {
    max-width: 100%;
}

#header {
    margin: -16px -16px 0 -16px;

    background-image: url("../../assets/woman.jpg");
    background-position: center;
    background-size: cover;
    grid-column: content-start / content-end;
}

#header h1 {
    margin: 0;
}

#visual-grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
